body {
  background-color: burlywood;
}

h1 {
  padding: 20px;
  color: white;
  font-size: 50px;
}

.recipeLink {
  font-size: 30px;
}

a {
  color: white;
}

.par-1 p {
  padding-top: 100px;
}

.container-fluid {
  text-align: center;
}

/* p {
  margin: 25px;
} */

.container {
  width: 100%;
  height: fit-content;
  background-color: burlywood;
}

.frappePic {
  border: 10px solid orange;
  border-radius: 10%;
  height: 25em;
  width: fit-content;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.divyA {
  padding: 60px;
  margin: 100px 0px;
  background: chocolate;
  font-size: 50px;
  color: black;
  flex-direction: row;
  font-family: "Dosis";
  font-weight: bolder;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .par-1, .par-2{
    margin: 50px 0px;
  }
}